APP_NAME=auth-service
APP_VERSION=1.1.0
APP_ENV=prod
APP_GUESTTLL=720h

LOG_LEVEL=info

HTTP_PORT=8080
HTTP_SHUTDOWN_TIMEOUT=10s

AUTH_TTL=15m
AUTH_JWTSECRET=secret
AUTH_REFRESHSECRET=secret
AUTH_REFRESHTTL=360h

POSTGRES_USER=root
POSTGRES_PASSWORD=my-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB_NAME=my-db-name

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=my-password
REDIS_DB=0